@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h3>Adam's BookStore</h3>
<br/>
<p>The ASP.NET Core with Bootstrap & Knockout.js exercise application.</p>
<br />
