@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
@*<h3>@ViewData["Message"]</h3>*@

<h3>Adam</h3>
<address>
    <strong>Support:</strong> <a href="mailto:adam144dev@gmail.com">Adam144dev@gmail.com</a><br />
</address>
